.EnquiryForm {
    background-color: #2f64ad;
    padding: 20px;
    width: 340px;
    border-radius: 10px;
}

@media (min-width: 1100px) {
    .EnquiryFormFrontPage {
        width: 100%;
    }

}

.EnquiryForm .form-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1100px) {
    .EnquiryFormFrontPage .form-container {
        flex-direction: row;
        flex-flow: row wrap;
    }
}

.EnquiryForm .form-container .form_field_wrap,
.EnquiryForm .form-container .form_field_wrap_multi {
    position: relative;
    margin-bottom: 13px;
}

@media (min-width: 1100px) {
    .EnquiryForm .form-container .form_field_wrap {
        width: 100%;
        margin-right: 0;
    }

    .EnquiryForm .form-container .form_field_wrap_multi {
        display: flex;
        justify-content: space-between;
    }
}

.EnquiryFormFrontPage .form-container .form_field_wrap,
.EnquiryFormFrontPage .form-container .form_field_wrap_multi,
.EnquiryFormFrontPage .form-container .form-field {
    width: 100%;
}

@media (min-width: 1100px) {
    .EnquiryFormFrontPage .form-container .form_field_wrap,
    .EnquiryFormFrontPage .form-container .form_field_wrap_multi,
    .EnquiryFormFrontPage .form-container .form-field {
        width: 49%;
    }

    .EnquiryFormFrontPage .form-container .form_field_wrap:nth-child(odd),
    .EnquiryFormFrontPage .form-container .form_field_wrap_multi:nth-child(odd) {
        margin-right: 15px;
    }
}

.EnquiryForm .form-container .form_field_wrap input,
.EnquiryForm .form-container .form_field_wrap select,
.EnquiryForm .form-container .form_field_wrap_multi input,
.EnquiryForm .form-container .form_field_wrap_multi select {
    border: 0;
    border-radius: 4px;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    max-height: 49px;
    padding: 23px 10px 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.EnquiryForm .form-container .form_field_wrap.has-errors,
.EnquiryForm .form-container .form_field_wrap_multi.has-errors {
    animation: shake .1s ease-in-out;
}

.EnquiryForm .form-container .form-field input[type="submit"] {
    border: 0;
    border-radius: 4px;
    background-color: #343434;
    color: #fff;
    cursor: pointer;
    padding: 16px 10px;
    width: 100%;
    margin-bottom: 13px;
}

.EnquiryForm .form-container .form-field input[type="submit"]:not(:disabled):hover {
    background-color: #131313;
}

.EnquiryForm .form-container .form_field_wrap label,
.EnquiryForm .form-container .form_field_wrap_multi label {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #2f64ad;
    pointer-events: none;
    font-size: 12px;
    font-weight: 600;
    transition: all .15s ease-in-out 3;
    line-height: 1;
}

.EnquiryForm .form-container .form_field_wrap .select-arrow {
    position: absolute;
    top: 50%;
    right: 9px;
    border: 5px solid transparent;
    border-top-color: #2f64ad;
    border-bottom: none;
    pointer-events: none;
}

.EnquiryForm .form-container .gdpr-notice {
    color: #fff;
    font-size: 10px;
}

.contactForm .form-container .gdpr-notice {
    color: #343434;
}

.EnquiryForm .form-container .gdpr-notice a {
    color: #fff;
    text-decoration: underline;
}

.EnquiryForm .form-container .gdpr-notice a:hover {
    color: #ddd;
}

@media (min-width: 768px) {
    .EnquiryForm .form-container .gdpr-notice,
    .contactForm .form-container .gdpr-notice  {
        width: 70%;
        margin: 5px auto 0;
        text-align: center;
    }

    .contactForm .form-container .gdpr-notice {
        text-align: left;
    }
}

@media (min-width: 1100px) {
    .EnquiryForm .form-container .gdpr-notice,
    .contactForm .form-container .gdpr-notice {
        width: 100%;
        margin: 0;
    }
}

.contactForm {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.contactForm .form-container {
    display: flex;
    flex-flow: row wrap;
}

.contactForm .form-container .form_field_wrap,
.contactForm .form-container .form-field,
.contactForm .form-container .form_field_wrap_textarea {
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.contactForm .form-container .form_field_wrap input,
.contactForm .form-container .form_field_wrap_multi input {
    border-radius: 4px;
    border: 1px solid #343434;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    max-height: 49px;
    padding: 23px 10px 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.contactForm .form-container .form_field_wrap_textarea textarea {
    border-radius: 4px;
    border: 1px solid #343434;
    background-color: #fff;
    width: 100%;
    font-size: 14px;
    padding: 23px 10px 8px 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media (min-width: 768px) {
    .contactForm .form-container .form_field_wrap,
    .contactForm .form-container .form_field_wrap_multi {
        width: 49%;
    }
    .contactForm .form-container .form_field_wrap:nth-child(odd),
    .contactForm .form-container .form_field_wrap_multi:nth-child(odd) {
        margin-right: 14px;
    }
}

.contactForm .form-container .form_field_wrap label,
.contactForm .form-container .form_field_wrap_multi label,
.contactForm .form-container .form_field_wrap_textarea label {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #2f64ad;
    pointer-events: none;
    font-size: 12px;
    font-weight: 600;
    transition: all .15s ease-in-out 3;
    line-height: 1;
}

.contactForm .form-container .form-field input[type="submit"] {
    border: 0;
    border-radius: 4px;
    background-color: #343434;
    color: #fff;
    cursor: pointer;
    padding: 16px 10px;
    width: 100%;
    margin-bottom: 13px;
}

.contactForm .form-container .form-field input[type="submit"]:not(:disabled):hover {
    background-color: #131313;
}

.contactForm .form-container .form_field_wrap.has-errors {
    animation: shake .1s ease-in-out;
}

@keyframes shake {
    from {
        transform: translateX(-4px);
        background-color: #ef9696
    }

    to {
        transform: translateX(4px);
        background-color: #ef9696
    }
}
